html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #333; }

body,
main,
section {
  background-color: var(--body-background-color); }

body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 50px #000;
  -webkit-transition: max-width .35s ease-out, max-height .35s ease-out;
  -moz-transition: max-width .35s ease-out, max-height .35s ease-out;
  -ms-transition: max-width .35s ease-out, max-height .35s ease-out;
  -o-transition: max-width .35s ease-out, max-height .35s ease-out;
  transition: max-width .35s ease-out, max-height .35s ease-out; }


.i {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 0;
  vertical-align: middle;
  text-rendering: auto;
  fill: currentColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.i svg {
  width: 14px!important;
  height: 14px!important; }

.notelements {
  position: relative;
  background-color: #ffffe5;
  width: 100%;
  height: auto;
  padding: 20px;
  font-size: 1.2rem; }

.notelements.intro {
  padding-top: 5rem;
  height: 100vh;
  background-color: #fff;
  background: linear-gradient(90deg, #fe688d 0%, #5f7ffd 100%); }

.notelements.intro h1 {
  margin-bottom: 3rem;
  font-size: 1.2rem;
  text-align: center; }

.notelements.intro h1 .logo {
  font-size: 2.5em;
  font-family: sans-serif;
}

.notelements.intro p {
  text-align: center; }

.notelements.intro ul {
  display: block; }

.notelements.intro ul li {
  display: inline-grid;
  width: 32%;
  list-style: none;
  font-size: .9rem; }

.notelements a.top {
  float: right; }

.notelements p {
  margin: 1rem 0;
  font-size: inherit; }

.notelements a {
  color: #000;
  text-decoration: none; }

.notelements a:hover {
  text-decoration: underline; }

#resizer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  width: 100%;
  text-align: center; }

#resizer ul {
  background-color: #ccc;
  list-style: none;
  font-size: 17px;
  display: inline-block;
  width: auto;
  -webkit-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .25));
  -moz-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .25));
  -ms-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .25));
  -o-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .25));
  filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .25));
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  margin: -2px auto 0 auto;
  padding-bottom: 3px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

#resizer ul li {
  display: inline-block;
  list-style: none; }

#resizer ul button {
  padding: 1px 6px; }

#resizer ul button.active {
  border-color: #f00;
  background: #f00; }

.rotate i svg,
[data-rotate] i svg {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -ms-transition: all .15s linear;
  -o-transition: all .15s linear;
  transition: all .15s linear; }

.landscape i svg {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }

body.dark {
  --body-background-color: #333;
  --color: #f7f7f7;
  --color-muted: #aaa;
  --link-color: #007bff;
  --link-color-hover: #0056b3;
  --content-background-color: #555;
  --content-border-color: #007bff;
  --box-shadow-color: #bbbbbb10;
  --border-color: #444;

  --menu-background-color: #343a40;
  --menu-background-color-hover: #454b51;
  --menu-background-color-active: #454b51;
  --menu-color: #fff;
  --menu-color-active: ;
  --menu-link-color: #ffffff80;
  --menu-link-color-hover: #ffffff40;
  --menu-link-color-active: #fff;
  --menu-dropdown-background-color: #343a40;
  --menu-dropdown-border-color: #666;

  --table-background-color: #444;
  --table-color: #fff;
  --table-head-background-color: #000;
  --table-head-color: #fff;
  --table-border-color: #666;
  --table-zebra-background: #555;

  --jumbotron-background-color: #222;

  --code-background-color: #222;
  --code-color: #fff;
  --code-border-color: #666; }

body.dark .notelements.intro {
  background: linear-gradient(90deg, #a70116 0%, #0a19a6 100%); }

body.dark .notelements {
  position: relative;
  background-color: #444; }

body.dark .notelements a {
  color: #fff; }
